---
import Container from "../shared/Container.astro";
---

<section class="relative mt-12 md:mt-16">
  <Container>
    <div
      class="mx-auto lg:mx-18 p-5 sm:p-6 py-6 sm:py-8 max-w-5xl rounded-3xl bg-box-bg border border-box-border shadow-lg  shadow-box-shadow md:divide-x divide-box-border grid grid-cols-2 md:grid-cols-4 gap-4 sm:gap-8 md:gap-6 lg:gap-12"
    >
    <div class="text-center">
      <h2>
       <img class="h-auto max-w-full" src="/images/Knight Icon_Blue.webp">
      </h2>
      <p class="font-semibold text-base sm:text-lg md:text-xl text-heading-1">Business Analysis</p>
    </div>

      <div class="text-center">
        <h2>
         <img class="h-auto max-w-full" src="/images/Lightbulb Icon_Yellow.webp">
        </h2>
        <p class="font-semibold text-base sm:text-lg md:text-xl text-heading-1">Digital Solutions</p>
      </div>

      <div class="text-center">
        <h2>
         <img class="h-auto max-w-full" src="/images/Brain Icon_Purple.webp">
        </h2>
        <p class="font-semibold text-base sm:text-lg md:text-xl text-heading-1">Learning & Development</p>
      </div>

      <div class="text-center">
        <h2>
         <img class="h-auto max-w-full" src="/images/Rocketship Icon_Teal.webp">
        </h2>
        <p class="font-semibold text-base sm:text-lg md:text-xl text-heading-1"> User Experience<br>(UX)</p>
      </div>
    </div>
  </Container>
</section>
